# Build
build/
cmake-build-*/
out/

# Conan
CMakeUserPresets.json
conan_toolchain.cmake
conanbuildinfo.*
conaninfo.txt
graph_info.json

# IDE
.idea/
.vscode/
*.swp
.DS_Store

# Compiled
*.o
*.a
*.so
*.dylib

# Artifacts (produced in later phases)
/var/
/artifacts/
